<section class="fondo-valen" id="contacto">
  <div
    class="z-[100] w-full px-6 sm:px-20 bg-[#222314dd] flex flex-col items-center backdrop-blur-sm min-h-screen pb-10"
  >
    <h2
      class="text-3xl sm:text-5xl pt-20 italic text-center font-bold text-gray-300"
    >
      Contacto<span class="text-orange-800">.</span>
    </h2>
    <form
      action="https://formsubmit.co/juantandil123@gmail.com"
      method="POST"
      class="flex flex-col gap-4 w-full max-w-96 px-10 py-16 rounded-xl mt-10 bg-white text-[#302916dd]"
    >
      <input
        type="text"
        name="name"
        placeholder="Nombre"
        class="bg-gray-200 rounded-lg text-black px-2 py-2 outline-[#30291622]"
      />
      <input
        type="email"
        name="email"
        placeholder="Correo electronico"
        class="bg-gray-200 rounded-lg text-black px-2 py-2 outline-[#30291622]"
      />

      <textarea
        name="comment"
        cols="15"
        rows="5"
        placeholder="Descripcion"
        class="bg-gray-200 rounded-lg text-black px-2 py-2 outline-[#30291622]"
      ></textarea>
      <button type="submit" class="bg-[#302916dd] rounded-full py-3 text-white"
        >Enviar</button
      >
    </form>
  </div>
</section>
