---
import "photoswipe/style.css";

interface Props {
  nombre: string;
}

const { nombre } = Astro.props;
---

<div class="grid grid-cols-1 sm:grid-cols-2 gap-4 w-full my-20" id="gallery">
  <div class="grid gap-4">
    {
      Array.from({ length: 6 }).map((_, i) => (
        <a
          href={`/images/${nombre}/${i + 1}.webp`}
          data-pswp-width="1669"
          data-pswp-height="2500"
          target="_blank"
          class="rounded-3xl overflow-hidden"
        >
          <img src={`/images/${nombre}/${i + 1}.webp`} alt="" />
        </a>
      ))
    }
  </div>
  <div class="grid gap-4">
    {
      Array.from({ length: 6 }).map((_, i) => (
        <a
          href={`/images/${nombre}/${i + 7}.jpg`}
          data-pswp-width="1669"
          data-pswp-height="2500"
          target="_blank"
          class="rounded-3xl overflow-hidden"
        >
          <img src={`/images/${nombre}/${i + 7}.jpg`} alt="" />
        </a>
      ))
    }
  </div>
</div>

<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";

  const lightbox = new PhotoSwipeLightbox({
    gallery: "#gallery",
    children: "a",
    pswpModule: () => import("photoswipe"),
  });
  lightbox.init();
</script>
