---

---

<header
  class="fixed z-50 flex my-4 justify-center opacity-80 backdrop-blur-xl left-1/2 -translate-x-1/2"
>
  <nav
    class="text-orange-50 border-orange-50 border text-base font-semibold flex gap-x-6 px-10 py-1 rounded-3xl"
  >
    <a href="" class="px-3 py-1 rounded-3xl hover:bg-[#fff2] transition-[0.4s]"
      >Inicio</a
    >
    <a href="" class="px-3 py-1 rounded-3xl hover:bg-[#fff2] transition-[0.4s]"
      >Trabajos</a
    >
    <a href="" class="px-3 py-1 rounded-3xl hover:bg-[#fff2] transition-[0.4s]"
      >Biografia</a
    >
    <a href="" class="px-3 py-1 rounded-3xl hover:bg-[#fff2] transition-[0.4s]"
      >Contacto</a
    >
  </nav>
</header>
