---

---

<header class="fixed w-full flex py-4 justify-center">
  <nav class="text-white">
    <a href="">Home</a>
    <a href="">Trabajos</a>
    <a href="">Sobre mi</a>
    <a href="">Contacto</a>
  </nav>
</header>
