---
import ListaTrabajos from "../components/ListaTrabajos.astro";
---

<section class="relative fondo-trabajos min-h-screen">
  <div
    class="z-[100] w-full px-20 bg-[#151f10dd] flex flex-col items-center backdrop-blur-sm"
  >
    <h2 class="text-5xl pt-20 italic text-center font-bold text-gray-100">
      Trabajos<span class="text-green-600">.</span>
    </h2>
    <ListaTrabajos />
  </div>
</section>
